.carousel {

    width: 70vw;
    margin: 0 auto;
}

.slider-p {
    /* height: 100px;
    width: fit-content;
    border: 2px solid red; */
    font-size: 2rem;
    font-weight: 1000;
}


.about-p {
    height: 300px;
    width: 80vw;
    font-weight: 700;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fad0c4;
    margin: 0 auto;
    border-radius: 117px 127px 26px 26px;
    -webkit-border-radius: 117px 127px 26px 26px;
    -moz-border-radius: 117px 127px 26px 26px;
    border: 21px double #3d3fb8;

}

.about-heading {
    height: 150px;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    font-size:2.8rem;

    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    padding: 20px;
    border-radius: 157px 174px 77px 71px;
    -webkit-border-radius: 157px 174px 77px 71px;
    -moz-border-radius: 157px 174px 77px 71px;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);    border: 21px inset #4b2f4b;
}



.about-heading:hover {
    color: rgb(83, 79, 79);
  
  }

.about-h{
    height: fit-content;
    width: fit-content;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    padding: 15px;
    font-weight: 600;
    margin:20px auto;
    border-radius: 20px;

}


.about-icon{

    
   padding: 10px;
   font-size: 4rem;
  
 
}




@media(max-width:400px){
    .about-heading {
        height: 150px;
        -webkit-text-stroke: 1px #000;
        color: transparent;
        font-size:1.4rem;
    
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        padding: 10px;
        border-radius: 157px 174px 77px 71px;
        -webkit-border-radius: 157px 174px 77px 71px;
        -moz-border-radius: 157px 174px 77px 71px;
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);    border: 21px inset #4b2f4b;
    }
    .about-heading:hover {
        color: rgb(83, 79, 79);
      
      }

      .about-h{
        height: fit-content;
        width: fit-content;
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
        padding: 10px;
        font-weight: 400;
        margin:10px auto;
        border-radius: 10px;
    
    }
    .about-p {
        height: 550px;
        width: 90vw;
        font-weight: 400;
        font-size: 1.1rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #fad0c4;
        margin: 0 auto;
        border-radius: 117px 127px 26px 26px;
        -webkit-border-radius: 117px 127px 26px 26px;
        -moz-border-radius: 117px 127px 26px 26px;
        border: 21px double #3d3fb8;
    
    }
    
    
    
    
    


}

